/**********************************
GENERAL STYLING
**********************************/

body {
	margin: 0px;
	background: url('img/southernRespite.jpg');
	background-size: cover;
/*	font-family: frontage, sans-serif;*/
}


h1 {
	text-align: center;
	font-family: Frontage, sans-serif;
}


/**********************************

**********************************/












/**********************************

**********************************/


.navbar .navbar-brand {
	color: rgba(255, 255 255, .85);
	font-size: 1rem;
	padding-top: .45rem;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.nav {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

/**********************************
ABOUT SECTION
**********************************/

.profilePhoto {

	border-radius: 50%
}

#aboutHeading {
	text-align: center;
	font-family: Frontage, Arial, sans-serif;
}

#aboutText {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 1.2em;
}



/**************************************
FOOTERS
***************************************/
	

#footer {
	background-color: lightgrey;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 1em;
	height: 4%;
	padding-top: 1%;
	clear: both;
	padding: 20px 10px;
	text-align: center;
	width: 100%;
}

#footer p {
	font-size: .9em;
}

.social-icon{
	width: 3.5%;
	height: auto;
}
